@media only screen and (max-width : 1200px) {


/* LARGE SCREEN SIZE*/
  .colL12{
    width: 100%;
  }

  .colL11{
    width: 91.66%;
  }

  .colL10{
    width: 83.33%;
  }

  .colL9{
    width:75%;
  }

  .colL8{
    width:66.66%;
  }

  .colL7{
    width:58.33%;
  }

  .colL6{
    width:50%;
  }

  .colL5{
  width: 41.66%;
  }

  .colL4{
    width:33.33%;
  }

  .colL3{
    width: 25%;
  }

  .colL2 {
    width: 16.66%;
  }

  .colL1{
    width: 8.33%;
  }
}
